html{
    height: 100vh;
}

body{
    /*overflow: hidden;*/
    overflow-x: hidden;
    min-height:100%;
    position: relative;
    padding-bottom: 12rem;
    /*background-color: #c1c1c1;*/
}

.img{
    width: 90%;
}

@media (max-width: 576px){
    body{
        padding-bottom: 18rem;
    }
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration:none;
}

.footer-wrapper{
    /*
    position:relative;
    bottom:0px;
    width:100%;
    background:#111;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    */
}

.custom-form{
    float: right;
}

.custom-top-search{
    border-bottom: 1px solid #ffc900
}

.custom-search-box{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-top-logo{
    margin-top: 10px;
    width: 141px;
    height: 38px;
    margin-bottom: 10px;
}

.dropdown-menu{
    padding: 10px;
}

.form-check-input{
    margin-top: 5px !important;
    padding-left: 4px !important;
}

.form-inline label{
    align-items: left !important;
    -webkit-box-pack: inherit;
    display: inline;
}

.custom-site-name-bar{
    font-size: 1rem;
}

.custom-site-name-bar h1{
    font-size: 20px;
}

.custom-nav-toggle{
    color: #ffc900;
}

#header-image{
    position:relative;
    width:100%;
    overflow:hidden;
}

.flex-column > .nav-item{
    background-color: #111;
    color: white;
    border: 1px solid white;
    border-radius: 0;
}

.flex-column > .nav-item > a{
    /*color: white;*/
    color: #ffc900;
}

.flex-column > .nav-item > a:hover{
    color: #ffc900;
}

.flex-column > .nav-item > a:hover{
    background-color: #5e5e5e;
    border-radius: 0;
}

.flex-column > .nav-item .active{
    color: #111;
    border-radius: 0;
    background-color: #ffc900;
}

.custom-nav-more-options{
    display: none;
}

.container{
    max-width: 1140px;
}

.custom-exhibit-nav-button{
    background: #111;
    color: #ffc900;
    text-align: center;
    border: 1px solid #ffc900;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 90%;
    vertical-align: middle;
}

.custom-exhibit-nav-button>a{

}


.custom-exhibit-nav-center{
    text-align: center;
}

.custom-exhibit-nav, .custom-exhibit-title, .custom-top-search{
    background-color: #111;
    color: white;
}

.custom-exhibit-subtitle{
    background-color: #111;
    color: lightgray;
}

.custom-exhibit-nav{
    padding-bottom: 3px;
}
.custom-nav-bar{
    background-color: #333333;
    color: #ffc900;
}

.custom-text{
    background-color: #333333;
    color: #ffc900; !important
}

.custom-site-name-bar{
    color: white;
    margin-top: 3px;
}

.custom-exhibit-title{
    padding-top: 5px;
}

.custom-nav-toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,201,0);
    /*
    Keeping this here in case we want to return the fabulous
    rgb(255,102,203);
    */
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,201,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-exhibit-mobile-foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    /*height: 50px;*/
    line-height: 25px;
    background-color: #5e5e5e;
    padding-bottom: 3px;
}

.custom-mobile-foot-print{
    display: block;
    height: 50px;
}

.custom-nest > li{
    padding-left: 30px;
}

hr{
    margin-top: 2px;
    margin-bottom: 2px;
    border-color: lightgrey;
}

.padding-0{
    padding: 0;
}

#admin-bar{
    color: white;
    background-color: #111;
    /*border-bottom: 1px solid lightgray;*/
}

#admin-bar > ul > li > a{
    font-family: Arial, Verdana, sans-serif !important;
}

#admin-bar > ul > li > a:hover{
    color: #ffc900 !important;
}

#menu-guest-user-me{
    font-family: Arial, Verdana, sans-serif !important;
}

#menu-guest-user-me:hover{
    color: #ffc900 !important;
}

.custom-exhibit-nav-button > a{
    color: #ffc900 !important;
}

.custom-exhibit-nav-button > a:hover{
    text-decoration: none !important;
}

#custom-exhibit-title-container > a{
    color: white !important;
}

#custom-exhibit-title-container > a:hover{
    text-decoration: none !important;
}

.custom-filler-boot{
    flex-grow: 1;
    width: 100%;
    background-color: #111;
    max-height: 100%;
}

/* Fix register page and Admin Config Bar  */

.registration-form label{
    font-weight: bold;
}

.registration-form label::after{
    content: " : ";
}

.registration-form .inputs::after{
  /*You're free to go this time, inputs*/ 
}

.registration-form form{
    max-width: 650px;
}

.registration-form .field{
    display: block;
    overflow: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.registration-form #submit{
    border-radius: 5px;
    border: 1px solid #d1ac00;
    background-color: #ffc900;
    font-weight: bold;
    padding: 6px;
}

.registration-form #submit:hover{
    background-color: #d1ac00;
}

.register .row{
    margin-bottom: 0px;
}

.register .container>h1{
    padding-top: 10px;
}

.register > .custom-admin-container-top{
    display: none;
}

.custom-admin-container-top{
    background-color: #111;
}

.custom-admin-container-mid{
    padding-top: 10px;
}

body{
    /*display: flex; flex-direction: column; height: 100%;*/
}

/* Stop images from shrinking when on mobile */
@media only screen and (max-width: 768px){
    img{
        width: 100%;
        max-width: 200px;
        display: block;
        text-align: center;
    }
}

/*CSS generated triangles*/
.right-caret {
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #29f569;
    display: inline-block;
    height: 0;
    /*opacity: 0.3;*/
    vertical-align: top;
    width: 0;
    padding: 0 5px 0 5px;
    margin: 3px 0 1px 0;
}

.caret {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #29f569;
    display: inline-block;
    height: 0;
    /*opacity: 0.3;*/
    vertical-align: middle;
    width: 0;
    padding-bottom: 4px;
    margin: 6px 3px 0 0;
}


a.nav-link{
    /*width: 77%;*/
    display: inline-block;
}

span{
    /*display: inline-block !important;*/
}

.exhibit-block{
    margin-top: 24px;
    border-top: 5px solid #111;
    padding-top: 15px;
}

.exhibit-items{
    padding-bottom: 15px;
}

h3{
   font-size: 1.0rem;
}

.black-spacer{
    background-color: #111;
    height: 30px;
}

.title-header{
    background-color: #111;
    /*color: #ffc900;*/
    color: white;
    font-family: "Libre Baskerville", "Times New Roman", Times, serif;
    /*padding-left: 29px;
    /*border-bottom: 1px solid #ffc900;*/
}

.title-header-text{
    padding: 8px 16px 8px 16px
}

.asu-link{
    color: #ffc900 !important;
    text-decoration: none;
}

.asu-header-link{
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.asu-header-link:hover{
    color: white;
    text-decoration: none;
}

.asu-link:hover{
    text-decoration: none;
    color: white !important;
}

#admin-bar{
    box-shadow: none;
}

.navbar-brand{
    padding-top: 0.25rem;
    padding-bottom: 0;
}

.navbar{
    background-color:black;
}

.navbar-expand{
    padding: 0; 
    height: 32px;
}

.item-title{
    background-color: #111;
    color: white;
}

.item-title-text{
    padding: 8px 16px 8px 16px;
    font-size: 25px;
}

.left-index-panel,.right-index-panel{
    padding: 20px;
}

.featured{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.featured>h3{
    background-color: #111;
    color: #ffc900;
    padding: 10px 10px 10px 10px;
    margin: -10px -10px 10px -10px;
}

#homepage-text{
    padding: 10px;
    border-radius: 9px;
    background-color: #ccc;
}

.dark>*>#homepage-text{
    padding: 10px;
    border-radius: 9px;
    background-color: black !important;
}

.item-separator{
    background-color: #555;
    width: 90%;
    height: 2px;
}

.item-info>h4{
    border-bottom : 1px solid #ffc900;
}

#recent-items>h2{
    padding: 5px;
}

.item{

}

.nav-item:hover{
    color: white; !important
}

.nav-item-active{
    padding: 10px 0 10px 0;
    margin: -10px 0 -10px 0;
    background-color: #ffc900;
    color: #111;
}

.element-set{
    background-color: #ccc;
    border-radius: 9px;
    padding:10px;
    margin-bottom: 20px;
    word-wrap:break-word;
}

.download-file>#foobar{
    max-width: 32px;
    max-height: 32px;
}

#foobar.full{
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 30px;
}

.quick{
    padding: 10px;
}

#asu-footer-logo{
    width: 124px;
    float: right;
}

.footer-wrapper{
    background-color: #111;
    color: white;
    position: absolute;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
}

.footer-links-title{
    font-size: 1em;
}

.footer-links-menu{
    padding-left: 20px;
}

.footer-links-menu>li{
    display: block;
}

.footer-links-menu>li>a{
    color: #ffc900;
}

.card{
    border-width: 3px;
    border-radius: 6px;
}

.card-img-top{
    text-align: center;
    padding-top: 15px;
}

.card-title{
    margin: 0 8px 0 8px;
    font-size: 1.25rem;
}

.card-title>a{
    font-size: 15px;
    color: black;
}

.header-subtext{
    background-color: #111111;
    color: white;
}

.btn-asu{
    background-color: #ffc900;
    border-color: #d1ac00;
    color: black;
}

.btn-asu:hover{
    color: black;
    background-color: #d1ac00;
}

.header-subtext-text-padding{
    padding: 10px 0 10px 12px;
}

.navigation>li{
    display: inline-block;
    margin-top: 15px;
    padding-left: 15px;
}

.navigation{
    background-color: #111;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-radius: 6px;
}

.navigation>li>a{
    padding-top: 15px;
    color: #ffc900;
}

.navigation>li>a:hover{
    color: white;
}

.pagination_next{
    margin-left: 10px;
    padding-top: 4px;
}

.pagination_previous{
    margin-right: 10px;
    padding-top: 4px;
}

.item-pagination{
    padding-right:40px;
}

.pagination>.page-input>form>input{
    max-width: 30px;
}

#next-item{
    float:right;
    padding-right: 15px;
}

.footer-controls{
    background-color: #EEEEEE;
    padding-top: 5px;
}

.footer-controls-mobile{
    background-color: #eee;
    padding-top: 5px;
}

/* 
 * SIGN IN FORM CSS
*/
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin>input{
    max-width: 400px;
}

.checkbox{
    padding-top: 6px;
}

.checkbox > label > input{
    margin-right:10px;
}

/* 
 * END SIGN IN FORM CSS
*/

/*
 * TAG PAGE
*/
 span> a.current{
     background-color: #ffc900 !important;
     color: black !important;
     border-radius: 3px !important;
     border: 1px solid black !important;
 }
/*
 * END TAG PAGE
 /

/* 
 * ITEMS BROWSE 
 */



.item{
    /*border: 1px solid #3e3e3e;*/
    box-shadow: 0 1px 1px rgb(0 0 0 / 11%),
        0 2px 2px rgb(0 0 0 / 11%),
        0 4px 4px rgb(0 0 0 / 11%),
        0 8px 16px rgb(0 0 0 / 11%);
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.item-img{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

@media only screen and (max-width: 1119px){
    .item-img{
        display:flex;
	justify-content:center;
    }
}

/*  This one below is for index.php of the theme  */
.item-info{
    display: inline-block;
    max-width: 840px;
}

.item-description{
    display: inline-block;
    max-width: 850px;
}

.item-description>p>img{
    display: none;
}

#previous-item, #next-item{
    color: #ffc900
}


/* 
 * END ITEMS 
 */


/*
 * ITEMS ON FILES/SHOW.PHP
 */
.element-text{
    margin-left: 25px;
}

/*
 *   EXHIBITS
 */
#left-side-exhibit-bar{
    color: #ffc900;
    background-color: #111;
    padding: 0;
}

#left-side-exhibit-bar>h3{
    margin-left: 0px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    background-color: #111;
    color: white;
}

.list-group.list-group-root:hover .list-group-item:hover{
    /*border-radius: 0;*/
    /*border-width: 0 0 0 0;*/
    background-color: black;
    color: #ffc900;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 40px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

/*
 *   END EXHIBITS
 */

.dark>body{
    background-color: black;
    color: #aaaaaa;
}

.dark>a{
    color: #ffc900 !important;
}

/*
 *    COMMENTING PLUGIN
 */
	
.g-recaptcha{
    padding-top: 10px;
}

#comments-container{
    margin-bottom: 10px;
}

#comment-form{
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: .25em;
}

/*
 *    END COMMENTING PLUGIN
 */

/* 
 * CONTACT FORM 
*/

/*? Contact? Might be more common, trying it and seeing */
#primary>h1{
    padding-top:10px !important;
}

#contact-form>.field:last-child{
    padding-top:15px;
}
